<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Page</h1>
    <form method="post">
        {% csrf_token %}
    <label for = "Num1">enter username:</label>
    <input type = "text" name = "Num1" placeholder="enter username" ><br><br>
    <label for = "Num2">enter password:</label>
    <input type = "text" name = "Num2" placeholder="enter password" ><br><br>
    <button type= "submit"> 
        submit
    </button>
    </form>

    Don't have an account?<a href="{% url 'register_page' %}">register</a>"
</body>
</html>
